<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/on_screen_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrashIntelAI"
        tools:targetApi="33">
        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:theme="@style/HomeScreen"/>
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".Chatbot"
            android:exported="false"
            android:theme="@style/HomeScreen" />
        <activity
            android:name=".login"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/HomeScreen"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashScreen" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB0ulvsIhZ3yxl11QbtKSmMBFGXVYOIWF4"/>
    </application>

</manifest>